<h1>一覧表</h1>

<!--
<ul>
    <% @urls.each do |url| %>
        <li>
            <%= url.url %>
        </li>
    <% end %>
</ul>
-->

<%= stylesheet_pack_tag "application", 'data-turbolinks-track': 'reload' %>

<table class="table">
    <thead>
        <tr>
            <th>WEBページタイトル</th>
        </tr>
    </thead>
    <tbody>
        <% @urls.each do |url| %>
            <tr><td><a href="<%= url.url %>" target="_blank"><%= url.title %></a></td></tr>
        <% end %>
    </tbody>
</table>